transformers==4.51.3
python-box
einops
omegaconf
pytorch_lightning
lightning
addict
timm
fast-simplification
bpy==4.2
# torch_cluster - moved to cog.yaml
# torch_scatter - moved to cog.yaml  
# torch_sparse - moved to cog.yaml
# torch_geometric - moved to cog.yaml
# flash_attn - moved to cog.yaml